<!DOCTYPE HTML>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BRC - Carrelage & Ravalement</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="static/styles.css">
    </head>
    
    <body>

        <div class="px-4 pb-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="static/images/brc_logo.png" alt="Logo BRC" class="rounded" width="120" height="120">
            <h1 class="display-10 fw-bold text-body-emphasis">Bienvenue chez BRC : l'Excellence en Travaux de Carrelage et Faïence</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead my-4">Chez BRC, nous sommes bien plus qu'une entreprise spécialisée dans les travaux de finition en carrelage. Nous sommes les artisans de l'élégance, les créateurs d'espaces qui respirent le raffinement et la qualité. Forts d'une réputation impeccable et de la confiance de nos clients, nous sommes déterminés à surpasser vos attentes à chaque projet.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Savoir-faire</button>
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Contactez-nous</button>
                </div>
            </div>
        </div>

        <section class="container">

            <h2>Notre Engagement envers la Qualité</h2>
            <p>Chez BRC, la qualité est notre signature. Chaque carreau posé témoigne de notre engagement envers l'excellence. Nous travaillons avec des matériaux de première qualité, sélectionnés avec soin pour assurer non seulement une esthétique inégalée, mais aussi une durabilité exceptionnelle. Nos équipes de professionnels qualifiés mettent tout en œuvre pour garantir des résultats qui résistent à l'épreuve du temps.</p>

            <h2>Un Art de la Finition</h2>
            <p>Le carrelage est bien plus qu'un revêtement de sol ou mural – c'est un art. Chez BRC, nous comprenons l'importance des détails et la nécessité d'une finition impeccable. Chaque projet est une toile sur laquelle nous dessinons des espaces uniques, harmonieux et élégants. Notre expertise dans l'agencement des carreaux témoigne de notre passion pour l'art de la finition.</p>

            <h2>Sérieux et Fiabilité</h2>
            <p>Faire confiance à BRC, c'est choisir la sérénité. Nous sommes fiers d'être reconnus pour notre sérieux et notre fiabilité. Nos clients, issus d'horizons divers, témoignent unanimement de la qualité exceptionnelle de nos travaux. Nous traitons chaque projet avec le professionnalisme qu'il mérite, du premier contact jusqu'à la réalisation finale.</p>

            <h2>La Confiance de Nos Clients</h2>
            <p>Notre plus grande réussite réside dans la satisfaction de nos clients. Nous avons eu le privilège de collaborer avec des particuliers exigeants, des entreprises renommées et des professionnels de l'architecture. Leurs retours positifs et leur fidélité témoignent de notre engagement envers l'excellence et de notre capacité à répondre aux normes les plus élevées.</p>
            <p>Chez BRC, nous transformons chaque espace en une œuvre d'art carrelée, imprégnée de qualité, de style et de durabilité. Faites confiance à notre expérience et à notre savoir-faire pour concrétiser vos projets de finition en carrelage. Nous redéfinissons la beauté, un carreau à la fois.</p>

            <h2>Bienvenue chez BRC, où la qualité rencontre l'art, et où chaque carreau raconte une histoire d'excellence.</h2>
        </section>
        
        <nav class="navbar fixed-bottom navbar-expand-sm">
            <div class="container-fluid">
                
                <a class="col navbar-brand" href="#"><img src="static/images/brc_logo.png" alt="Logo BRC" class="rounded" width="60" height="60"></a>
                <div class="col collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Présentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Savoir-faire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Équipe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
    
            </div>
        </nav>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>

    
</html>